@use "../../styles/partials/variables" as *;

main {
  background-color: $secondary-purple-light;
  min-height: 100vh;
  padding: 3rem;
}

.edit__header-container {
  display: flex;
  padding-left: 4rem;
  padding-top: 4rem;
  align-items: center;
}

.edit__title {
  font-size: 3rem;
  font-weight: 500;
  color: $primary-black;
  padding-left: 1rem;
}

.back-arrow {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.edit__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

.edit__image-wrapper {
  width: 500px;
}

.edit__image-container {
  border: 2px dashed $primary-purple;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit__image-preview {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.edit__image-placeholder {
  width: 100%;
  max-width: 300px;
  object-fit: contain;
}

.edit__info-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.edit__input-group {
  margin-bottom: 2rem;
}

.edit__label {
  font-size: 1.2rem;
  font-weight: 600;
  color: $primary-black;
}

.edit__input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-top: 0.25rem;
}

.edit__input:focus {
  outline: none;
  border-color: $primary-accent-dark;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.submit-button {
  padding: 10px 20px;
  background-color: $highlight-purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1.5rem;
  text-align: center;
  width: 25%;
  border: 2px solid $secondary-purple-light;
}

.submit-button:hover {
  background-color: $primary-accent;
  border: 2px solid $primary-accent-dark;
}

.submit-button:active {
  background-color: $primary-accent-dark;
}

.description-input {
  height: 6rem;
}

.edit__file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6fa69c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.edit__file-label:hover {
  background-color: #5e8a82;
}

.edit__file-label:active {
  background-color: $primary-accent-dark;
}