$primary-cream: #F4F4F4;

$primary-purple: #747ca9;

$secondary-purple: #acacd5;

$secondary-purple-light: #d0d0ec;

$highlight-purple: #673bc0;

$primary-accent-dark: #6fa69c;

$primary-accent: #9fc8c2;

$secondary-accent: #cba2a5;

$secondary-accent-dark: #bc6c7c;

$primary-black: #211f20;