@use "../../styles/partials/variables" as *;


main {
  background-color: $secondary-purple-light;
  min-height: 100vh;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.profile__picture-container {
  width: 12.5rem;
  height: 12.5rem;
  margin-left: 2.5rem;
  position: relative;
  display: inline-block;
  border: 2px solid white;
  padding: .9375rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(145deg, $primary-purple, $primary-accent-dark);
  border-radius: 5%;
  overflow: hidden;

  .courtneys-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
    display: block;
    transition: opacity 0.3s ease;
  }

  .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 300;
    color: $primary-cream;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
  }

  &:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  }

  &:hover .courtneys-pic {
    opacity: 0.2;
  }

  &:hover .hover-text {
    opacity: 1;
  }
}

.profile__text-container {
  flex-grow: 1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  .profile__text {
    font-weight: 600;
    font-size: 3rem;
    color: $primary-black;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1.5rem;
}

.add__item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
  padding-left: 3.8rem;
}

.add-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-item-button {
  font-size: 1.125rem;
  padding: 1rem 2rem;
  background-color: $secondary-purple-light;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: $highlight-purple;
  font-weight: 400;

  &:hover {
    font-weight: 700;
  }
}

.card {
  width: 21.875rem;
  height: 31.25rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 5px;
  border: 2px solid $primary-accent-dark;
  background-color: $primary-cream;

  &:hover {
    transform: scale(1.05);
  }

  .card-image-container {
    width: 100%;
    height: 15rem;
    margin-bottom: .9375rem;
    position: relative;
    background: $primary-cream;
    border-radius: 5px;
  }

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }

  .card-title {
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .card-description {
    font-size: .875rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    height: 3rem;
  }

  .card-price {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.625rem;
    text-align: center;
  }

  .card-button {
    width: 100%;
    padding: .625rem;
    background-color: $highlight-purple;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
  }

  .card-button:hover {
    background-color: $primary-accent-dark;
  }
}

.card-link {
  text-decoration: none;
  color: inherit;
}
