@use "../../styles/partials/variables" as *;

.profile-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 1.5rem;
}

.profile__text-container {
  .profile__text {
    font-weight: 600;
    font-size: 3rem;
    color: $primary-black;
    margin: 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1.5rem;
}

.add__item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
  padding-left: 3.8rem;
}

.add-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-item-button {
  font-size: 1.125rem;
  padding: 1rem 1rem;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: $primary-black;
  font-weight: 400;

  &:hover {
    font-weight: 700;
  }
}
