@use "../../styles/partials/variables" as *;

.modalWrapper {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  flex-direction: column;
}

.modalOverlay {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  height: auto;
  width: 600px;
  max-width: 90%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border: 1px solid $primary-black;
}

.modalContent {
  margin-bottom: 2rem;
  text-align: center;
  width: 60%;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  color: #555;
  margin-bottom: 2rem;
  text-align: left;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 1rem;
  padding-top: 1rem;
}

.delete {
  padding: 0.75rem 1.5rem;
  background-color: $primary-black;
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 48%;
  border: 1px solid transparent;
}

.cancel {
  padding: 0.75rem 1.5rem;
  background-color: $primary-black;
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 48%;
  border: 1px solid transparent;
}

.cancel:hover {
  background-color: #9e9e9e;
  border: 1px solid $primary-black;
  color: $primary-black;
}

.delete:hover {
  background-color: #c62828;
  border: 1px solid $primary-black;
}

.modalButtons button {
  width: auto;
  flex: none;
  padding: 0.75rem 1.5rem;
  margin-left: 0.5rem;
  border-radius: 30px;
  font-weight: 600;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
