@use "../../styles/partials/variables" as *;

.modalWrapper {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  flex-direction: column;
}

.modalOverlay {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%); // Ensures the modal is centered horizontally
  flex-direction: column;
  height: 400px;
  width: 800px;
  border-radius: 8px;
}

.modalContent {
  margin-left: 2rem;
  margin-top: 2rem;
  margin-right: 2rem;
  background: white;
  width: 60%;
  max-width: 600px; /* Modal width with a max of 600px */
  height: 100%;
  text-align: flex-start;
  display: flex;
  flex-direction: column;
  border-radius: 8px; /* Optional: rounded corners */
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Optional: soft shadow */
}

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

h2 {
  margin-bottom: 2rem;
  margin-left: 2rem;
  font-weight: 400;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 1rem;
  margin-top: 2rem; /* Spacing at the bottom of the modal */
}

.delete {
  margin-right: 1rem;
  margin-bottom: 2rem;
  padding: 0.8rem 2rem;
  background-color: #e74c3c;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #c0392b;
  }
}

.cancel {
  margin-left: 1rem;
  padding: 0.8rem 2rem;
  background-color: #ccc;
  color: black;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:hover {
    border: 1px solid #5a2e92; /* Purple hover color */
    color: #5a2e92; /* Purple hover color */
  }
}

.modalButtons button {
  width: auto;
  flex: none;
  padding: 0.5rem 1.2rem;
  margin-left: 0.5rem;
}
