@use "../../styles/partials/variables" as *;

.add__header-container {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.add__title {
  font-size: 3rem;
  font-weight: 500;
  color: $primary-black;
  padding-left: 1rem;
}

.back-arrow {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.upload__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

.upload__image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  border: 2px dashed $primary-black;
  border-radius: 5px;
}

.upload__image-preview {
  max-width: 31.25rem;
  max-height: 31.25rem;
  object-fit: contain;
  border: 1px solid #ddd;
}

.upload-placeholder {
  filter: grayscale(100%) brightness(15%) contrast(100%);
  max-width: 31.25rem;
  max-height: 31.25rem;
  object-fit: contain;
}

.upload__details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 31.25rem;
  padding-top: 2rem;
}

.upload__input-group {
  margin-bottom: 1rem;
}

.upload__label {
  font-weight: 500;
  margin-bottom: 0.75rem;
  display: flex;
}

.upload__input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-top: 0.25rem;
}

.upload__input:focus {
  outline: none;
  border-color: $primary-black;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-submit-button {
  padding: 0.75rem 1.5rem;
  background-color: #000;
  color: white;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 48%;
  margin-top: 1rem;
  border: 1px solid transparent;
}

.add-submit-button:hover {
  background-color: #4b8c76;
  border: 1px solid $primary-black;
}

.description-input {
  height: 6rem;
}

.upload__image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
