@use "../../styles/partials/variables" as *;

main {
  background-color: $secondary-purple-light;
  min-height: 100vh;
  padding: 3rem;
}

.details__header-container {
  display: flex;
  padding-left: 4rem;
  padding-top: 4rem;
  align-items: center;
}

.details__title {
  font-size: 3rem;
  font-weight: 500;
  color: $primary-black;
  padding-left: 1rem;
}

.back-arrow {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.details__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
  gap: 2rem;
}

.details__image-wrapper {
  width: 31.25rem;
}

.details__image-container {
  border: 2px dashed $primary-purple;
  border-radius: 5px;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details__image {
  max-width: 100%;
  max-height: 31.25rem;
  object-fit: contain;
}

.details__info-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 31.25rem;
  padding-top: 2rem;
}

.details__info-group {
  margin-bottom: 1.5rem;
}

.details__label {
  font-size: 1.2rem;
  font-weight: 600;
  color: $primary-purple;
  margin-bottom: 0.5rem;
}

.details__text {
  font-size: 1.1rem;
  color: $primary-black;
  padding-top: 0.5rem;
}

.details__link {
  color: $primary-black;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.details__link:hover {
  color: white;
}

.details__buttons-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.details__button {
  padding: .625rem 1.25rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  width: 25%;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  text-decoration: none;
}

.details__button.edit-button {
  background-color: $highlight-purple;
  border: 2px solid $secondary-purple-light;
}

.details__button.edit-button:hover {
  background-color: $secondary-purple-light;
  border: 2px solid $highlight-purple;
  color: $highlight-purple;
}

.details__button.edit-button:active {
  background-color: $primary-accent-dark;
}

.details__button.delete-button {
  background-color: #e53946;
  color: white;
  border: 2px solid #d32f2f;
  border-radius: 5px;
  padding: .625rem 1.25rem;
  cursor: pointer;
  font-size: 1rem;
  width: 25%;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.details__button.delete-button:hover {
  background-color: #c62828;
  border-color: #b71c1c;
}

.details__button.delete-button:active {
  background-color: #b71c1c;
  border-color: #9e1c1c;
}

.details__button.edit-button {
  text-decoration: none;
}

.details__image-placeholder {
  width: 100%;
  max-width: 300px;
  object-fit: contain;
}
